<IfModule mod_rewrite.c>
  # Increase upload limits
  php_value upload_max_filesize 10M
  php_value post_max_size 10M

  # Pass Authorization header to PHP
  SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1
  CGIPassAuth On

  <IfModule mod_negotiation.c>
    Options -MultiViews -Indexes
  </IfModule>
  # Config file Restriction
    <Files "config.php">
        Require all denied
    </Files>
  RewriteEngine On

  # Pass Authorization header to PHP
  SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1
  CGIPassAuth On

  # Handle Authorization Header (RewriteRule fallback)
  RewriteCond %{HTTP:Authorization} .
  RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
  # Redirect Trailing Slashes If Not A Folder...
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} (.+)/$
  RewriteRule ^ %1 [L,R=301]
  # Send Requests To Front Controller...
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^ index.php [L]
</IfModule>
