<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>406735731787-qc8tmo774h6atplnlvsrvi704jkgn3rb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.406735731787-qc8tmo774h6atplnlvsrvi704jkgn3rb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>406735731787-aueq3v3ig7triuk1ld0ll0ukemt8f68m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD5vMNlU7DZM4NgJi_gf9qad1dTn__RLDc</string>
	<key>GCM_SENDER_ID</key>
	<string>406735731787</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.duty.monkey</string>
	<key>PROJECT_ID</key>
	<string>duty-2756b</string>
	<key>STORAGE_BUCKET</key>
	<string>duty-2756b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:406735731787:ios:1bc42d48899a01c09221ce</string>
</dict>
</plist>